@{
  Layout = "_Layout";

}

@{
    
  // we need to make sure that our view ensures there's an authenticated user before displaying items.
  // In this update, we check User.Identity.IsAuthenticated to determine whether there's a user that's signed in. If so, then we display the items as well as the user's name. And if not, then we display a message asking the visitor to sign in to view or manage their items.
}

@using ToDoList.Models;

<h1>Welcome to the To Do List!</h1>

<hr />

<h4>Categories</h4>
@if (Model["categories"].Length == 0)
{
  <p>No categories have been added yet!</p>
} 
<ul>
  @foreach (Category cat in Model["categories"])
  {
    <li>@Html.ActionLink(@cat.Name, "Details", "Categories", new { id = @cat.CategoryId})</li>
  }
</ul>

@if (User.Identity.IsAuthenticated)
{
  <h4>Items for @User.Identity.Name</h4>
  @if (Model["items"].Length == 0)
  {
    <p>No items have been added yet!</p>
  } 
  <ul>
    @foreach (Item item in Model["items"])
    {
      <li>@Html.ActionLink(@item.Description, "Details", "Items", new { id = @item.ItemId})</li>
    }
  </ul>
}
else
{
  <h4>Items</h4>
  <p>Please @Html.ActionLink("log in", "LogIn", "Account") to view or manage your items.</p>
}

<hr />